<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/furatto.min.js"></script>
    <script src="/js/resume.js"></script>

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Inconsolata:400,700">
    <link rel="stylesheet" type="text/css" href="/css/furatto.min.css">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/resume.css">
    
    <title>{{ info.name }}</title>
</head>
<body class="dark-bg">
    <!-- Swag banner -->
    <div class="row">
        <div id="raw-links" class="col-12 text-right-xsm text-right-sm text-right-md text-right-lg">
            <a href="/?format=json">JSON</a> | <a href="/?format=xml">XML</a>
        </div>
    </div>

    <!-- Personal information -->
    <div class="row">

        <!-- Identification -->
        <div class="col-5 json">
            <table>
                <tr>
                    <td class="property">"name"</td>
                    <td class="font-huge yellow">{{ info.name }}</td>
                </tr>
                {% if info.cast %}<tr>
                    <td class="property">"cast"</td>
                    <td>{{ info.cast }}</td>
                </tr>{% endif %}
                {% if info.location %}<tr>
                    <td class="property">"location"</td>
                    <td>{{ info.location }}</td>
                </tr>{% endif %}
            </table>
        </div>

        <!-- Contact -->
        <div class="col-5 json">
            <table>
                {% if info.phone %}<tr>
                    <td class="property">"phone"</td>
                    <td>{{ info.phone }}</td>
                </tr>{% endif %}
                {% if info.email %}<tr>
                    <td class="property">"email"</td>
                    <td><a href="mailto:{{ info.email }}">{{ info.email }}</a></td>
                </tr>{% endif %}
                {% if info.profiles %}<tr>
                    <td class="property">"profiles"</td>
                    <td>{% for profile in info.profiles %}
                        <a href="{{ profile.url }}" target="_blank">{{ profile.network }}</a>
                    {% endfor %}</td>
                </tr>{% endif %}
            </table>
        </div>
    </div>

    <!-- Employment -->
    <div class="row">
        <div class="col-11 json">
            <table>
                <tr>
                    <td class="property">"section"</td>
                    <td class="font-large yellow">Employment</td>
                </tr>
            </table>
        </div>

        {% for position in positions %}
        <!-- Job -->
        <div class="col-10 offset-1 json">
            <table>
                <tr>
                    <td class="property">"company"</td>
                    <td class="font-medium green">{{ position.company }}</td>
                </tr>
                <tr>
                    <td class="property">"title"</td>
                    <td class="title">{{ position.title }}</td>
                </tr>
                <tr>
                    <td class="property">"start"</td>
                    <td>{{ position.start }}</td>
                </tr>
                {% if position.end %}<tr>
                    <td class="property">"end"</td>
                    <td>{{ position.end }}</td>
                </tr>{% endif %}

                {% if position.website %}<tr>
                    <td class="property">"website"</td>
                    <td><a href="{{ position.website }}">{{ position.website }}</a></td>
                </tr>{% endif %}
                <tr>
                    <td class="property">"summary"</td>
                    <td>{{ position.summary }}</td>
                </tr>
                {% if position.highlights %}<tr>
                    <td class="property">"highlights"</td>
                    <td>{% for highlight in position.highlights %}
                        <span class="highlight">{{ highlight }}</span>
                    {% endfor %}</td>
                </tr>{% endif %}
            </table>
        </div>

        {% endfor %}
    </div>

    <!-- Projects -->
    <div class="row">
        <div class="col-11 json">
            <table>
                <tr>
                    <td class="property">"section"</td>
                    <td class="font-large yellow">Projects</td>
                </tr>
            </table>
        </div>

        <div class="col-10 offset-1">
            <div class="row">
                {% for project in projects %}
                <!-- Project -->
                <div class="col-6 json {% if loop.index % 2 %}clear{% endif %}">
                    <table>
                        <tr>
                            <td class="property">"project"</td>
                            <td class="font-medium red">{{ project.name }}</td>
                        </tr>

                        {% if project.languages %}<tr>
                            <td class="property">"languages"</td>
                            <td>
                                {% for language in project.languages %}
                                {{ language }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                        </tr>{% endif %}
                        
                        {% if project.website %}<tr>
                            <td class="property">"website"</td>
                            <td><a href="{{ project.website }}">{{ project.website }}</a></td>
                        </tr>{% endif %}
                        <tr>
                            <td class="property">"summary"</td>
                            <td>{{ project.summary }}</td>
                        </tr>
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
    
    {% if info.education %}
    <!-- Education -->
    <div class="row">
        <div class="col-11 json">
            <table>
                <tr>
                    <td class="property">"section"</td>
                    <td class="font-large yellow">Education</td>
                </tr>
            </table>
        </div>

        <div class="col-10 offset-1">
            <div class="row">
                {% for record in info.education %}
                <!-- Education -->
                <div class="col-6 json {% if loop.index % 2 %}clear{% endif %}">
                    <table>
                        <tr>
                            <td class="property">"institution"</td>
                            <td class="font-medium green">{{ record.institution }}</td>
                        </tr>
                        <tr>
                            <td class="property">"degree"</td>
                            <td>{{ record.degree }}</td>
                        </tr>
                        {% if record.minor %}<tr>
                            <td class="property">"minor"</td>
                            <td>{{ record.minor }}</td>
                        </tr>{% endif %}
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</body>
</html>